//- Copyright 2014 Joukou Ltd
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-   http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
link(rel='import' href='../../../../bower_components/polymer/polymer.html')
polymer-element(name='joukou-header-bar' attributes='imagesrc hhash htitle subtitle subtitle2 subtitle3 subtitle4 jumboclass hidenav hideimg hidesearchetc hidelanguage hidefirstcolumn')
  template
    template(if='{{imagesrc&&!hideimg}}')
      .jumbotron.header-image(style="background-image:url('{{imagesrc}}')")
        .container
          .row
            div(class='{{jumboclass||"col-sm-offset-9 col-sm-3"}}')
              template(if='{{htitle}}')
                h1 {{title}}
              template(if='{{subtitle}}') 
                p {{subtitle}}
              template(if='{{subtitle2}}') 
                p {{subtitle2}}
              template(if='{{subtitle3}}')
                p {{subtitle3}} 
              template(if='{{subtitle4}}')
                p {{subtitle4}} 
    template(if='{{!hidenav}}')
      div.container-seb-padding-119.header-nav-bottom
        template(if='{{!hidesearchetc}}')
          div.contact-help-search
            img.img-24(src='../../images/contact button.png')
            img.img-24(src='../../images/help button.png')
            img.img-24(src='../../images/search button.png')
        template(if='{{!hidefirstcolumn}}')
          div.first-column(ng-click="scrollTo('{{hhash}}')")
            img.img-39(src='../../images/push down button.png')
        template(if='{{!hidelanguage}}')
          div.language
            img.img-24(src='../../images/languages button.png')
    style
      include:styl style.styl
  script(src='element.js')