//- Copyright 2014 Joukou Ltd
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-   http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
.solutions-core(id='solutions-content-top')
  .container-seb-margin-184
    a.col-sm-4.text-center(ng-click="scrollTo('create')") Create Efficiency
    a.col-sm-4.text-center(ng-click="scrollTo('save')") Save Money
    a.col-sm-4.text-center(ng-click="scrollTo('value')") Create Value
section.solutions
  .container-seb-margin-184
    .row
      .col-xs-12
        h2 For Business
        p From a business perspective Joukou can help your business realise new efficiencies, reduce costs on new and existing integration projects, and create new value from existing data and system assets. Let your business units select the tools they need and then use Joukou to act as the mesh that holds them all together.
section.solutions(id='create')
  .container-seb-margin-184
    .row
      .col-xs-12
        h2 Create Efficiency
        p Joukou has been designed from the start with the end user in mind. Our goal has been to create a system that empowers non-technical users to create their own system integrations and discover new ways to make their processes more efficient.
        p Joukou opens new possibilities for creating efficiencies. By making the integration process accessible it allows businesses to find new ways to integrate their applications and discover new synergies. By removing the technical element it frees business to think about what can be integrated instead of focusing on how to integrate.
        p Joukou simplifies the problems associated with legacy systems. A typical pitfall of integration projects involving legacy systems is that they are difficult. It’s common that a single legacy system can be have multiple integration points, all of which are managed differently. By using Joukou a legacy system can be integrated once into Joukou and then its data and functionality are exposed for multiple applications.
        p Joukou standardises your data. Our multi-site replication and redundancy infrastructure ensures excellent data locality efficiencies. This allows businesses to use Joukou to unify their data so that it is consistent across multiple sites or even business units. Load it once and have it available everywhere.
        p Joukou allows your business to achieve rapid prototyping of new ideas. Once your applications are integrated into the Joukou platform creating connections between them and processing the data is easy. Create connections quickly, process large quantities of data, and make it available for that new application idea. The faster that your business can get new ideas into the market the faster you can get feedback.
section.solutions(id='save')
  .container-seb-margin-184
    .row
      .col-xs-12
        h2 Save Money
        p A guiding principle of Joukou has been to eliminate redundancy wherever it might be found. By using Joukou to simplify your business processes you are actively reducing your administrative costs. Once applications are streamlined you’ll eliminate double work.
        p Joukou allows your business to reduce their technical debt. Technical debt represents the money spent by business a new technology that is not transferable or re-usable. Joukou is a cloud service with a simple yet effective architecture. This allows us to provide you with enterprise quality integration technology at an affordable price. 
        p Joukou moves the development profile of your business to our managed service. By using us you reduce your companies focus on developing integration methods and allow us to take over that burden. Let us work out how to integrate applications so that you can focus on what should be integrated.
        p Joukou reduces costs by simplifying data distribution, reducing complexity, and simplifying implementations. Our aim is to reduce your businesses reliance on IT and empower you to create real efficiencies.
section.solutions(id='value')
  .container-seb-margin-184
    .row
      .col-xs-12
        h2 Create Value
        p Joukou at its essence allows your business to engage with your customers and partners in new ways. More than just an integration tool we empower you to create new value from existing data and systems assets. By using Joukou your business can expose existing applications and data so that they can be leveraged, integrated, and monetized. Joukou creates value for users by allowing them to control how data is shared and who it is shared with.
        p Joukou allows users to connect with each other to share and trade data. Users are able to securely buy and sell data and provide access to their data assets. The main premise is to allow Joukou users to make data available and then control how it is shared and distributed. This feature can be utilized for sharing and trading data with company partners or for directly selling data to the market.
        p Joukou provides a simple means to create value that can be bundled with existing offerings. If your company already provides content or value to your customers the Joukou platform can be used to extend these offerings with access to specific data and systems.
