//- Copyright 2014 Joukou Ltd
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-   http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
.solutions-core(id='solutions-content-top')
  .container-seb-margin-184
    a.col-sm-4.text-center(ng-click="scrollTo('consult')") Consulting opportunities
    a.col-sm-4.text-center(ng-click="scrollTo('create')") Create Connectors
    a.col-sm-4.text-center(ng-click="scrollTo('new')") New Applications
section.solutions
  .container-seb-margin-184
    .row
      .col-xs-12
        h2 For Developers
        p From a developers perspective Joukou provides you with a platform to create new consulting business, develop new connectors, and develop new applications. Let us provide you with an ecosystem that betters the community and allows you to progress.
section.solutions(id='consult')
  .container-seb-margin-184
    .row
      .col-xs-12
        h2 Consulting opportunities
        p Joukou gives you as a developer the means to create new consulting revenue. Out affiliated developer programme gives you access to our developer community and the information you need to help businesses integrate their applications and expose their data using Joukou.
        p As an integration suite our ecosystem contains numerous aspects that can be optimised with the help of an experienced developer. Register with us and use your expertise to create an income.
section.solutions(id='create')
  .container-seb-margin-184
    .row
      .col-xs-12
        h2 Create Connectors
        p Joukou’s progression centres on the creation of connectors, the more connectors, the more integrations. Utilise our marketplace to create your own connectors and deploy them. Whether you're building a connector for a private client or making it open source, Joukou gives you the tools required to get the job done.
section.solutions(id='new')
  .container-seb-margin-184
    .row
      .col-xs-12
        h2 New Applications
        p Joukou’s main premise is to provide a platform for integrating systems and exposing data in a simple and intuitive way. Use our platform to consolidate data from multiple systems and prepare it for deployment into new applications. Leverage our infrastructure to create applications and simplify business processes.
