//- Copyright 2014 Joukou Ltd
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-   http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
.solutions-core(id='solutions-content-top')
  .container-seb-margin-184
    a.col-sm-4.text-center(ng-click="scrollTo('create')") Create Efficiencies
    a.col-sm-4.text-center(ng-click="scrollTo('save')") Save Money
    a.col-sm-4.text-center(ng-click="scrollTo('value')") Create Value
section.solutions
  .container-seb-margin-184
    .row
      .col-xs-12
        h2 For IT
        p From a technical perspective Joukou helps your IT department create new efficiencies, reduce sunk costs on infrastructure, and create new value from effective solutions. Let your IT department maintain control of your application landscape and data without inhibiting other business units.
section.solutions(id='create')
  .container-seb-margin-184
    .row
      .col-xs-12
        h2 Create Efficiencies
        p Joukou simplifies data management and empowers non-technical users by providing a simple web based interface for managing data assets, controlling how they are shared, and whom they are shared with. It allows for data from multiple sources to be visualized, managed, and grouped for distribution to a multitude of business applications and data consumers.
        p Joukou gives your IT department the means to control data without restricting other business units on what software they use. Further to this data can be controlled easily to ensure that any security concerns are alleviated.
        p Joukou gives your IT department a helicopter view of what systems you have, how they are integrated, and what data is being shared. Give your department the means to deliver quickly on integration projects without losing control of your application landscape.
section.solutions(id='save')
  .container-seb-margin-184
    .row
      .col-xs-12
        h2 Save money
        p Joukou reduces the cost of integrating applications and exposing data... This allows your company to create new business models and systems of innovation on a stable foundation with the ability to scale
        p Joukou allows your business to reduce their technical debt. Technical debt represents the money spent by business a new technology that is not transferable or re-usable. Joukou is a cloud service with a simple yet effective architecture. This allows us to provide you with enterprise quality integration technology at an affordable price. 
        p Joukou moves the development profile of your business to our managed service. By using us you reduce your companies focus on developing integration methods and allow us to take over that burden. Let us work out how to integrate applications so that you can focus on what should be integrated.
section.solutions(id='value')
  .container-seb-margin-184
    .row
      .col-xs-12
        h2 Create Value
        p Joukou has a pluggable data acquisition layer that is capable of connecting to a wide variety of systems. Utilizing a schema-free data structure users are able to store and save datum of any shape or structure without any additional development or operational work. Thanks to our schema-free design it doesn’t matter what structure the imported data is in, Joukou will simply “understand it” and users will be able to utilize all expected features such as advanced search and reporting on that data. The Joukou system exposes all of its functionality via its API and does not provide any client-specific functionality making the system completely client agnostic. With both discoverability and documentation linked directly to the API, 3rd party developers are empowered to utilize the Joukou platform quickly and simply as a means to distribute data.
        p Joukou is a web based business-to-business multi-tenanted data-exchange platform. Joukou provides a simple web based interface for loading data and controlling how it is shared, and whom it is shared with. Designed as a global data-exchange it allows for data from multiple sources to be visualized, managed, and grouped for distribution to a multitude of business applications and data consumers. The Joukou superstructure is pillared on a non-relational database giving it the ability to house data in many formats and configurations whilst at the same time providing for vast scalability and powerful reporting.
        p Joukou is an effective method for system integration and data distribution. It has been designed as a global data-exchange which exposes all of its functionality through a comprehensive API. This allows for data to be easily exchanged between users whilst at the same time providing a simple method for pushing and pulling data to and from the exchange.
