//- Copyright 2014 Joukou Ltd
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-   http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
block content
  section.container-seb-padding-184(role='main' id='terms')
    .row
      .col-xs-11.col-xs-offset-1.jk-space-separator-big
        .container(role='separator')
    .row
      .col-xs-12.build-border.row
        h1 Website Terms of Use
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            p.lead This Website is owned and operated by Joukou Limited. You acknowledge that by accessing and
              | using this Website you agree to be bound by these terms and conditions (
              strong  Terms
              | ). Please read these
              | Terms carefully. If you do not accept these Terms, please refrain from using the Website.
            p.lead
              strong We reserve the right to change these Terms at any time. We will notify you of that change by posting
                | the revised version of these Terms and updating the "last updated" notice adjacent to the link to these
                | terms on our homepage. By continuing to use the Website you agree to be bound by the amended
                | terms of use. You should check from time to time to see if the Terms have changed.
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            h2.lead 1. Intended Meanings for Certain Words
            p.lead In these Terms, the following words have the meanings set out as follows:
              table
                tr
                  td "Content"
                  td means any software, data, information, pictures, graphics and other materials
                    | published or made available on the Website, including all third party content and user
                    | generated content;
                tr
                  td "Member"
                  td means a user that has completed our registration process and created an account;
                tr
                  td "Services"
                  td means services being offered by us and promoted through the Website;
                tr
                  td "Third Party Information"
                  td means information other than information about the Services on the
                    | Website including certain data, news, research, statistics, stories, photographs, opinions and
                    | information;
                tr
                  td "user"
                  td means any user of the Website;
                tr
                  td "we", "us", "our" and “Joukou”
                  td are a reference to Joukou Limited;
                tr
                  td "Website"
                  td means this website www.joukou.com;
                tr
                  td "you" and "your"
                  td are a reference to you.
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            h2.lead 2. Rules of Conduct.
            p.lead While accessing and using the Website you will comply with all applicable laws, rules and regulations.
            p.lead You agree that you will not:
              table
                tr
                  td a.
                  td Interfere with or disrupt the operation of the Website or the servers or networks used
                    | to make the Website available; or violate any requirements, procedures, policies or
                    | regulations of such networks.
                tr
                  td b.
                  td Restrict or inhibit any other person from using the Website (including without limitation by
                    | hacking or defacing any portion of the Website).
                tr
                  td c.
                  td Use the Website to advertise or offer to sell or buy any goods or services without our
                    | express prior written consent.
                tr
                  td d.
                  td Reproduce, duplicate, copy, sell, resell or otherwise exploit for any commercial purposes,
                    | any portion of, use of, or access to the Website.
                tr
                  td e.
                  td Except as expressly permitted by applicable law, modify, adapt, translate, reverse
                    | engineer, decompile or disassemble any portion of the Website.
                tr
                  td f.
                  td Remove any copyright, trademark or other proprietary rights notice from the Website or
                    | materials originating from the Website.
                tr
                  td g.
                  td Frame or mirror any part of the Website without our express prior written consent.
                tr
                  td h.
                  td Use any robot, spider, Website search/retrieval application or other manual or automatic
                    | device to retrieve, index, "scrape," "data mine" or in any way gather Website content
                    | or reproduce or circumvent the navigational structure or presentation of the Website
                    | without our express prior written consent. Notwithstanding the immediately foregoing
                    | sentence (but subject to the other items listed above), we grant the operators of public
                    | search engines permission to use spiders to copy materials from the Website for the sole
                    | purpose of and solely to the extent necessary for creating publicly-available searchable
                    | indices of such materials, but not caches or archives of such materials. We reserve the
                    | right to revoke these exceptions, either generally or in specific cases, at any time.
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            h2.lead 3. Intellectual Property
            p.lead You acknowledge that any content displayed or made available through the Website is our
              | exclusive property or used and /or displayed by us with the express permission of owner.
              | No Content may be reproduced, published or transmitted without our prior written consent.
              | Copyright, trade mark or other intellectual property right infringement may result in civil and/or
              | criminal penalties.
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            h2.lead 4. Privacy and Personal Information
            p.lead Please refer to the
              a(ui-sref="privacy") Privacy Policy
              |  for further conditions relating to your personal information,
              | what we collect and how it may be used. By continuing to use this Website you agree to the
              | terms of such Privacy Policy.
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            h2.lead 5. Links
            p.lead The Website may include links to other websites. If you visit a linked website you will be
              | subject to the terms of that website. Any dealing in relation to a website not owned by
              | us (“Third Party Website”) will be solely between you and the owner of that Third Party
              | Website. A link to a website from this Website does not imply our endorsement of the Third
              | Party Websites or any product or service being advertised, promoted or offered on the Third
              | Party Website or any association with the operators of the Third Party Website unless this is
              | specifically stated on the Website.
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            h2.lead 6. Liability
            p.lead You agree and acknowledge that where the Website sets out Third Party Information and
              | information about other users, while we will not knowingly provide incorrect information we
              | may not be able to verify all Third Party Information on the Website and so you should not
              | rely on it without first making your own enquiries. We do not guarantee or certify the accuracy
              | of the Third Party Information or information about any other user. Any reliance on the
              | information is at your own risk.
            p.lead To the maximum extent permitted by law and except as otherwise agreed between the parties
              | in writing, we exclude all responsibility and liability in relation to the Website and we will not
              | be liable for any form of loss or damage that you incur arising out of or in connection with your
              | use of the Website.
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            h2.lead 7. Severability
            p.lead If any portion of these Terms is deemed to be invalid, illegal or unenforceable the remaining
              | provisions shall remain in full force and effect.
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            h2.lead 8. Law
            p.lead These Terms are governed by and will be construed in accordance with the laws of New
              | Zealand and you submit to the jurisdiction of the courts of New Zealand.
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            h2.lead 9. Contact
            p.lead If you have any questions or concerns in relation to the Website or these Terms please
              a(ui-sref="contact") Contact Us.
