//- Copyright 2014 Joukou Ltd
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-   http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
block content
  section.container-seb-padding-184(role='main' id='privacy')
    .row
      .col-xs-11.col-xs-offset-1.jk-space-separator-big
        .container(role='separator')
    .row
      .col-xs-12.build-border.row
        h1 Joukou privacy policy
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            p.lead
              | Joukou Limited (
              strong we, us, our
              | ) is concerned about privacy issues. We want you to be familiar with
              | how we collect, use and disclose information. This Privacy Policy describes our practices and our
              | commitment to respecting the confidentiality and integrity of any information that you provide as a user of
              a(href="www.joukou.com")  www.joukou.com
              |  website (the
              strong  Website
              | ) and any services offered by Joukou. By using this Website and
              | any services provided by Joukou you agree to the terms and conditions of this Privacy Policy.
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            h2.lead 1. Collection of information
            p.lead We gather various information about people who access and use the Website, including:
              table
                tr
                  td a.
                  td personal information such as your name and email address;
                tr
                  td b.
                  td personal information provided through any other method (including, without limitation, any correspondence with us);
                tr
                  td c.
                  td information collected through your use of the Joukou services, including the applications that you have connected using the Joukou services;
                tr
                  td d.
                  td aggregated data, which track traffic to the Website but do not relate to you personally; and
                tr
                  td e.
                  td cookies (pieces of information transferred to your computer hard drive for record keeping).
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            h2.lead 2. The purpose of collecting information
            p.lead Some of the reasons for collecting personal information about you include:
              table
                tr
                  td a.
                  td to provide you with the Joukou services;
                tr
                  td b.
                  td to provide you with information on, and enable you to use, the Website;
                tr
                  td c.
                  td to monitor, develop and improve the Website;
                tr
                  td d.
                  td to investigate any complaints relating to the misuse of the Website;
                tr
                  td e.
                  td to contact you for general business and marketing purposes relating to the Website;
                tr
                  td f.
                  td to respond to queries and/or comments you have forwarded to us; and
                tr
                  td g.
                  td for analysis in aggregate form (identifiable characteristics removed so that you remain anonymous).
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            h2.lead 3. Disclosure
            p.lead You agree that we may disclose your information as follows:
              table
                tr
                  td a.
                  td to our related companies and third parties to the extent required so that the Joukou services can be provided to you;
                tr
                  td b.
                  td to third parties in connection with a corporate re-organisation, merger or amalgamation,
                    | or the sale of all or substantially all of our assets, provided that the personal information
                    | disclosed continues to be used for the purposes permitted by this Privacy Policy by the entity
                    | acquiring this information;
                tr
                  td c.
                  td as an administrative tool for identifying system problems and administering the Website;
                tr
                  td d.
                  td to third parties when we believe in good faith that we are required to do so by law; and
                tr
                  td e.
                  td aggregate information, and other information that does not personally identify you, to such
                    | third parties as we may see fit.
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            h2.lead 4. Access to and correction of personal information:
            p.lead Any personal information provided will be held by Joukou in accordance with any applicable privacy
              | laws. In accordance with the Privacy Act 1993, you have rights of access to and correction of
              | personal information that we hold about you. Please
              a(ui-sref="contact")  contact us
              |  if you have any questions in relation to this.
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            table
              tr
                td a.
                td In order to ensure that we are providing the best possible consumer experience on the
                  | Website we collect and track certain user information. When you visit the Website, our
                  | server may send a cookie to your computer. This cookie would be intended to store a limited
                  | amount of information about your site visit. The cookie tracks aggregate information on
                  | how our site is being used, including session counts, navigation patterns, and pages visited
                  | (Aggregate Data).These cookies, do not store any personal information as you browse the
                  | site. When you submit a question, we store your cookie identification in our system. This
                  | cookie allows our site to recognise you when you return.
              tr
                td b.
                td Joukou may also utilise Google Analytics to track Aggregate Data about how our site is
                  | being used and/or non-personal user interaction data (including how you interact with the
                  | content and marketing initiatives). Google Analytics track anonymous user information,
                  | including the number of visitors to the Website, operating systems, Internet Provider
                  | addresses (if publicly available), and browser type. Web Logs are maintained only on
                  | Joukou servers and do not store or place anything on the user's computer. Please see
                  a(href="http://www.google.com/analytics")  http://www.google.com/analytics
                  |  for more information.
              tr
                td c.
                td Joukou may sell, disclose or otherwise use Aggregate Data gathered on the Website to third
                  | parties for general marketing and demographic purposes. This data, when shared on an
                  | aggregated basis, does not include any of your personal information.
              tr
                td d.
                td If you come to the Website from an online banner ad, an anonymous identification number
                  | may be passed to the Website. This information cannot be used to gather any personal
                  | information about you. It will only allow us to track the overall effectiveness of our online
                  | advertising, marketing and banner advertisement campaigns.
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            h2.lead 6. Links
            p.lead The Website may contain links to other websites that are owned and operated by third parties that
              | are not affiliated with us. When you use those links, you leave the Website and we are unable to
              | control how the owners of the websites you link to handle any information they gather about you,
              | including their privacy practices and use of cookies. This Privacy Policy applies only to the Website
              | and does not govern activities on linked websites. We encourage you to review the privacy policy
              | of any other website you visit to understand its owner's practices on how it collects, uses and
              | discloses your information.
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            h2.lead 7. Changes to Privacy Policy
            p.lead We reserve the right to change this Privacy Policy at any time by notifying users of the existence of
              | a revised Privacy Policy through the Website. By continuing to access the Website, you agree to
              | be bound by the amended Privacy Policy.
        .row
          .col-xs-12.jk-privacy-privacyMain-text.build-border
            h2.lead 8. Questions
            table
              tr
                td a.
                td If you have any questions about how our services work or regarding this statement
                  a(ui-sref='contact')  contact us
              tr
                td b.
                td For information about New Zealand’s Privacy Act 1993 and how it protects the personal
                  | information of individuals in New Zealand
                  a(href="http://www.legislation.govt.nz/act/public/1993/0028/latest/DLM296639.html") click here.
  .container(role='separator')
    .row.hidden-xs.hidden-sm.hidden-md.jk-privacy-sectionSpacing-3-lg.build-border
    .row.hidden-xs.hidden-sm.hidden-lg.jk-privacy-sectionSpacing-3-md.build-border
    .row.hidden-xs.hidden-md.hidden-lg.jk-privacy-sectionSpacing-3-sm.build-border
    .row.hidden-sm.hidden-md.hidden-lg.jk-privacy-sectionSpacing-3-xs.build-border
