//- Copyright 2014 Joukou Ltd
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-   http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
div(ng-include="'app/marketplace/header.html'")
section.marketplace
  .container
    .row
      .col-xs-12
        h2 Partners Marketplace
        p.lead Want to sell Joukou or think your services complement ours, then contact us we’d love to hear from you.
    .row
      .form-group
        a.btn.btn-info.col-xs-12.col-sm-12.col-md-6.col-lg-6(href='mailto:info@joukou.com') Become a Partner
