/**
 * Copyright 2014 Joukou Ltd
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
$fa-font-path = './fonts'

// general
$headings-font-weight = normal
// colours
$brand-info = #0cf
$gray = #666;

// navbar variables
$navbar-height = 55px
$navbar-default-color = #999
$navbar-default-brand-color = $navbar-default-color
$navbar-margin-bottom = 0
$navbar-default-link-active-color = #000
$navbar-default-link-active-bg = transparent

$subnav-height = 42px

// footer variables
$social-btn-size = 34px

// dropdowns
$dropdown-link-color = $gray;

// container widths
$container-large-desktop = 970px;
