//- Copyright 2014 Joukou Ltd
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-   http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
div(ng-include="'app/home/header.html'")
section.default
  .container
    .row
      .col-xs-12
        h1 See how we achieve integration zen
        p.lead The power of Joukou illustrated by you signing up
section.default
  .container
    .row
      .col-xs-12
        h2 Integrate
        p We built connectors for our website, CRM system, accounting software, and notification system. This provides the necessary links between our systems and Joukou.
section.default
  .container
    .row
      .col-xs-12
        h2 Navigate
        p The website is our data source. After creating a new application flow we were able to drill through the application hierarchy to find the newly created website flow.
section.default
  .container
    .row
      .col-xs-12
        h2 Manipulate
        p Our other systems are the destination. From our flow design interface we were able to draw the links between the website and our various applications. If needed we could apply operators to merge, join or repurpose the data.
section.default
  .container
    .row
      .col-xs-12
        h2 Sign up
        p Our website captures the data and our Joukou connector for our website receives the sign up information.
section.default
  .container
    .row
      .col-xs-12
        h2 Data processed
        p The Joukou flow design defines how the data coming from the website will be distributed. In our case your name and email are inserted into each of the destination systems.
section.default
  .container
    .row
      .col-xs-12
        h2 Zen achieved
        p The information you provided when signing up is seamlessly transferred to each of our destination systems.
section.default
  .container
    .row
      .col-xs-12
        h2 What can you do with Joukou?
