//- Copyright 2014 Joukou Ltd
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-   http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
div(ng-include="'app/home/header.html'")
section.default
  .container
    .row
      .col-xs-12
        h2 Integrate
        p Easily connect and integrate applications through our intuitive flow centric interface. Use Joukou to integrate applications with connectors from our marketplace, or with your own connectors developed on the Joukou stack. 
section.default
  .container
    .row
      .col-xs-12
        h2 Navigate
        p Why use trees when you can use circles. The Joukou navigation structure uses circles to visualize the hierarchies and relationships of your business’s applications. This gives you a unique and simple navigation experience that is both effective and fun.
section.default
  .container
    .row
      .col-xs-12
        h2 Manipulate
        p What good is data if you can’t use it. The Joukou flow design interface provides you with all the data operators that you’ve come to know and love. Use Joukou to convert, aggregate, filter, clean, merge and verify data.
