//- Copyright 2014 Joukou Ltd
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-   http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
div(ng-include="'app/home/header.html'")
section.default
  .container
    .row
      .col-xs-12
        h2 Improve Processes 
        p Become a connected business. Joukou is the connective mesh that links your onsite and cloud applications empowering you to create new business channels. Discover new ways of engaging with your partners and customers.
section.default
  .container
    .row
      .col-xs-12
        h2 Simplify Integrations
        p Application integration shouldn’t be hard. Give your IT department an effective way for managing the flow of data within your business without creating technical debt or security concerns. Use Joukou to enable your business units by rapidly deploying application integrations on an easy to manage platform.
section.default
  .container
    .row
      .col-xs-12
        h2 Embrace Community
        p We know the importance of community and we aim to foster it with the Joukou marketplace. Find Joukou connectors, accredited developers, and affiliated partners. We want to improve the integration landscape by providing an effective tool with a strong community backing. 
