//- Copyright 2014 Joukou Ltd
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-   http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
div(ng-include="'app/home/header.html'")
section.default
  .container
    .row
      .col-xs-12
        h1 What Are We?
        p.lead 
          | Joukou is a web-based data-repurposing tool that  
          b provides data flexibility and simplicity 
          | and helps businesses to mobilise, synchronise, affiliate, and monetise their data. We provide a simple approach for loading your data into Joukou, repurposing it, and then deploying it to where it needs to be. In a very visual way our interface allows for our tenants to convert, aggregate, filter, clean, merge and verify their data.
section.default
  .container
    .row
      .col-xs-12
        h2 Get Mobile
        p Take data from your internal business applications and data stores and give it a web presence.  Data loaded into Joukou can be exposed through the standard API or can be directed to downstream connectors for import into other systems.
section.default
  .container
    .row
      .col-xs-12
        h2 Synchronise Applications
        p Utilise Joukou’s distributed database to synchronise data between multiple locations. Joukou can act as a central repository for data helping businesses to maintain data consistency across multiple sites. Joukou’s multi-site architecture ensures data redundancy and consistency, and will improve access to data.
section.default
  .container
    .row
      .col-xs-12
        h2 Affiliate Value
        p As a distribution network Joukou can be used as a value added service in conjunction with other services already offered by a business. Access to your data through the Joukou API can be managed via our interface and then bundled with other offerings.
section.default
  .container
    .row
      .col-xs-12
        h2 Monetise Assets
        p More than just a tool Joukou is also a network of users, businesses and developers. We provide a platform to facilitate the trading of data, Joukou connectors, and services built on the Joukou infrastructure.
        p Joukou is passionate about unifying and liberating data. We’re not just a means for connecting data, we’re a way to open and enable your business.
section.default
  .container
    .row
      .col-xs-12
        h2 Why use Joukou
        p Using Joukou saves your business money. With a simple and intuitive user interface people with minimal technical skills are empowered to repurpose data with little to no help from IT resources. This will improve delivery times for integration projects, reduce on-going IT maintenance costs, and free up IT resources for more pressing matters.
        p As a managed service Joukou allows your business to outsource your data infrastructure reducing short-term costs and technical debt. As your business's data requirements change the Joukou service can be scaled for your needs, all within a future-proof and secure environment. Joukou gives your business enterprise-quality data-repurposing tools at a fraction of the cost.
